{# Detail of a location to be loaded via AJAX into a div #}

{% load recorder_filters %}
{% load i18n %}
{% load fontawesome_6 %}

{% block content %}
<input type="hidden" id="map-lat" value="{{ object.lat }}"/>
<input type="hidden" id="map-long" value="{{ object.long }}"/>

<article class="data-details" id="accordion" data-item-key="{{ object.location_key }}" data-entity="location">

  <section class="card">
    <div class="card-header">
      <a href="#collapse-names" data-bs-toggle="collapse" class="card-title">{% translate 'Names' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="names">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-names" class="collapse show" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-names">
          {% include 'locations/panels/names.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-general" data-bs-toggle="collapse" class="card-title">{% translate 'General' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="general">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-general" class="collapse show" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-general">
          {% include 'locations/panels/general.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-designations" data-bs-toggle="collapse" class="card-title">{% translate 'Designations' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="designations">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-designations" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-designations">
          {% include 'locations/panels/designations.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-geo-info--admin-areas" data-bs-toggle="collapse" class="card-title">{% translate 'Geo info - admin areas' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="geo-info--admin-areas">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-geo-info--admin-areas" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-geo-info--admin-areas">
          {% include 'locations/panels/geo-info--admin-areas.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-geo-info--land-parcels" data-bs-toggle="collapse" class="card-title">{% translate 'Geo info - land parcels' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="geo-info--land-parcels">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-geo-info--land-parcels" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-geo-info--land-parcels">
          {% include 'locations/panels/geo-info--land-parcels.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-other--relations" data-bs-toggle="collapse" class="card-title">{% translate 'Other - relations' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="other--relations">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-other--relations" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-other--relations">
          {% include 'locations/panels/other--relations.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-other--uses" data-bs-toggle="collapse" class="card-title">{% translate 'Other - uses' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="other--uses">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-other--uses" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-other--uses">
          {% include 'locations/panels/other--uses.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-other--tenures" data-bs-toggle="collapse" class="card-title">{% translate 'Other - tenures' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="other--tenures">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-other--tenures" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-other--tenures">
          {% include 'locations/panels/other--tenures.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-other--approach" data-bs-toggle="collapse" class="card-title">{% translate 'Other info - approach' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="other--approach">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-other--approach" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-other--approach">
          {% include 'locations/panels/other--approach.html' %}
        </div>
      </div>
    </div>
  </section>

</article>

{% endblock %}