{# Locations tree browser with view and update functionality. #}

{% extends "glue/page.html" %}
{% load i18n %}

{% block title %}{% translate 'Locations' %}{% endblock %}

{% block content %}
<div class="split-flex">
  <div id="browser-pane">
    <div class="mb-3">
      <select class="form-select" id="location-type">
        <option value="" selected>-{% translate 'Filter location type' %}-</option>
        {% for locationType in locationTypes %}
          <option value="{{ locationType.location_type_key }}">{{ locationType.short_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="tree-container"></div>
  </div>
  <div id="detail-pane">
    <div id="map"></div>
    <div id="selection-pane"></div>
  </div>
</div>
{% endblock %}

