<!doctype html>
{% load compress %}
{% load static %}
{% load fontawesome_6 %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Theme CSS which includes Bootstrap -->
    {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/theme.scss' %}" rel="stylesheet" media="screen">
      {% block extraScss %}{% endblock %}
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {% fontawesome_6_static %}
    {% if externalCss %}{% for css in externalCss %}<link rel="stylesheet" href="{{ css }}" type="text/css">{% endfor %}{% endif %}
    <title>Recorder web prototype</title>
  </head>
  <body>
    {% block page %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% if externalJs %}{% for js in externalJs %}<script src="{{ js }}"></script>{% endfor %}{% endif %}
    {% compress js file %}
      <script type="text/javascript" src="{% static 'js/recorder-core.js' %}"></script>
      {% if internalJs %}{% for js in internalJs %}<script type="text/javascript" src="{% static js %}"></script>{% endfor %}{% endif %}
    {% endcompress %}
    {% block extraJs %}{% endblock %}
  </body>
</html>
