{% extends "glue/page.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam ex ut nunc
  mattis, eu tristique libero ultricies. Proin luctus aliquam metus a iaculis. Nam a
  risus et sapien dignissim accumsan nec vel turpis. Phasellus vel massa dapibus, interdum
  ex eu, pellentesque nisl. Duis sed dui viverra, sollicitudin massa ac, euismod risus.
  Vestibulum quis tortor ultricies, consequat felis ac, vestibulum quam. Cras sit amet
  nunc placerat, imperdiet eros vitae, pharetra sapien. Proin ut augue et felis porta
  fringilla eu non justo.</p>

<p>Phasellus pretium ut sem in egestas. Ut sapien risus, lobortis at diam id, faucibus
  hendrerit eros. Sed sollicitudin rutrum odio vel mollis. Donec diam eros, tempor id
  efficitur eget, varius eget massa. Aliquam ultricies, mi vitae hendrerit consectetur,
  dolor odio varius erat, quis malesuada urna tellus a ligula. Phasellus porta diam ligula,
  a lobortis ante varius et. Phasellus accumsan, tellus et lacinia mollis, augue ipsum
  aliquam leo, ut luctus risus sapien et justo. Aliquam varius sagittis rutrum. Class
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  Quisque facilisis, felis id sodales sodales, mi metus auctor orci, fermentum sodales
  turpis nisl vitae libero. Nam nisl justo, aliquet a ornare sed, molestie at neque. In ut
  odio dui. Aliquam consectetur lacus augue, ac ornare erat tincidunt euismod. Aenean
  ornare nisi sed neque imperdiet, eget sagittis augue tristique. Donec semper euismod ex,
  ut aliquet est tincidunt consequat.</p>
{% endblock %}