{% extends "glue/page.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Recorder web prototype</h2>

<p>You are running an experimental prototype demonstrating a small portion of Recorder 6's
  functionality rebuilt to run in a web-browser, using the Python language and Django
  framework.</p>

<p>This prototype is limited to the following areas of functionality:</p>
<ul>
  <li>Login screen</li>
  <li>Data entry -> Locations allows you to browse a simple hierarchy of top-level locations. Click
    the small arrow to the left of a location name to expand and view the children.</li>
  <li>Locations can be selected to preview, including the map panning to the correct point.</li>
  <li>Edit button for locations takes you to an Edit screen, allowing basic location information to
    be edited. This includes a "nested formset" table for location names, which illustrates how
    Django can be used to develop complex nested forms including concepts like measurements, site
    features and sources.</li>
  <li><a href="admin">Admin user interface</a> which allows browsing and editing of the "raw" data for
    admin and full edit level users. Currently limited to the Location table and related tables
    implemented in the main user interface, plus the User table.</li>
  <li><a href="/api/locations/">REST API for the Locations data</a> which illustrates how data can
    be easily exposed to other applications.</li>
</ul>

<h2>Further information</h2>
<ul>
  <li><a href="https://www.djangoproject.com/">Django website</a></li>
  <li><a href="https://github.com/recorder-6-team/django-web-prototype/">Recorder web prototype code on Github</a></li>
</ul>
{% endblock %}