{# Other - uses section update form for a location #}

{% load crispy_forms_tags %}
{% load i18n %}
{% load recorder_filters %}

{% block content %}

<form method="post" class="section-form" data-section="other--uses">
  {% csrf_token %}
  <fieldset>
    <legend>{% translate 'Other - uses' %}</legend>
    {% crispy formset_list formset_helper %}
  </fieldset>
  <button class="btn btn-success add-form-row" data-section="other--uses" data-relation="uses" type="button" title="{% translate 'Add a use' %}"><i class="fa-solid fa-plus"></i></button>
  <input type="submit" class="btn btn-primary" value="{% translate 'Update' %}">
  <input type="submit" class="btn btn-secondary" name="cancel" value="{% translate 'Cancel' %}">
</form>
{% endblock %}