{# Detail of a location feature to be loaded via AJAX into a div #}

{% load recorder_filters %}
{% load i18n %}
{% load fontawesome_6 %}

{% block content %}
<input type="hidden" id="map-lat" value="{{ object.location_key.lat }}"/>
<input type="hidden" id="map-long" value="{{ object.location_key.long }}"/>

<article class="data-details" id="accordion" data-item-key="{{ object.location_feature_key }}" data-entity="location_feature">

  <section class="card">
    <div class="card-header">
      <a href="#collapse-general" data-bs-toggle="collapse" class="card-title">{% translate 'General' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="general">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-general" class="collapse show" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-general">
          {% include 'location_features/panels/general.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-potential-threats" data-bs-toggle="collapse" class="card-title">{% translate 'Potential threats' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="potential-threats">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-potential-threats" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-potential-threats">
          {% include 'location_features/panels/potential-threats.html' %}
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    <div class="card-header">
      <a href="#collapse-damage-occurrences" data-bs-toggle="collapse" class="card-title">{% translate 'Damage occurrences' %}</a>
      <button class="btn btn-light btn-sm section-edit-btn float-end" data-section="damage-occurrences">{% fa6_icon 'pen-to-square' 'fa-solid' %}</button>
    </div>
    <div id="collapse-damage-occurrences" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        <div class="panel-cntr-damage-occurrences">
          {% include 'location_features/panels/damage-occurrences.html' %}
        </div>
      </div>
    </div>
  </section>

</article>

{% endblock %}