{# Designations section update form for a location #}

{% load crispy_forms_tags %}
{% load i18n %}
{% load recorder_filters %}

{% block content %}

<form method="post" id="location-designations-form">
  {% csrf_token %}
  <fieldset>
    <legend>{% translate 'Designations' %}</legend>
    {{ location__designations.management_form }}
    {% crispy location__designations designations_helper %}
  </fieldset>
  <button class="btn btn-success add-form-row" data-section="designations"  type="button" title="{% translate 'Add a designation' %}"><i class="fa-solid fa-plus"></i></button>
  <input type="submit" class="btn btn-primary" value="{% translate 'Update' %}">
  <input type="submit" class="btn btn-secondary" name="cancel" value="{% translate 'Cancel' %}">
</form>

{% endblock %}